
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/response.css">
    <link rel="stylesheet" href="/css/quote.css">
</head>

<body>
    
<%- include('./navbar') %>

<br>