


<br>
<div class="navdiv">
    <section class="navdiv">
        <a href="/" class="maintitle">
                QUOTATIONS
        </a>
    </section>
    <nav class="navbar navdiv">
        <% if (!user) { %>
            <a class="navitem" href="/user/login">Log in</a>
            <a class="navitem" href="/user/sign-up">Sign up</a>
        <% } else { %>
            <a class="navitem" href="/user/log-out">Log out</a>
            <a class="navitem" href="/user/profile:<%= user.username %>">Profile</a>
        <% } %>
    </nav>
</div>
<br>
<div class="navline">
</div>
<br>