<br>
<div class="navdiv">
    <section>
        <h1 class="maintitle">
            QUOTATIONS
        </h1>
    </section>
    <nav class="navbar">
        <a class="navitem" href="login">Log in</a>
        <a class="navitem" href="signup">Sign up</a>
        <a class="navitem" href="profile">Profile</a>
    </nav>
</div>
<br>
<div class="navline">
</div>
<br>