


    <form action="/quote/create" method="POST">
        <div class="form-group">
            <label for="quote">Write your quote:</label>
            <br>
            <textarea name="quote" id="quote"><%= quote %></textarea>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>