<div class="quotebox">
    <p class="quotetext">
        <%= quote.quote %>
    </p>
    <div>
    <h4 class="quotesignature">Written by <a href="/user/profile:<%= quote.creator %>"><%= quote.creator %></a></h4>
        <% if (user.username == quote.creator) { %>
            <form action="/quote/delete:<%= quote.quoteId %>" method="post">
                <button>DELETE</button>
            </form>
        <% } %>
    </div>
</div>