
<%- include('./partials/header', { title: "Quotations - Homepage"}) %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="center">
    <div class="segment">
        <div class="subsegment">
            <h1 class="supertitle">Welcome to Quotations!</h1>
            <p class="paragraph">Feel free to read all the inspiring and not-insufferable-at-all quotes, made by users world wide! (mainly me because this hasn't been the biggest hit for some reason...)</p>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>