<%- include('./partials/header', { title: `Quotations - Quotes`}) %>

<div class="center">
    <%- include('./partials/quote', { quote }) %>

    <a href="">Another</a>
</div>

<%- include('./partials/footer') %>