@font-face {
    font-family: 'aston script';
    src: url('../font/Aston\ Script.ttf');
}

body {
    background-color: white;
}
.center{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.segment{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    padding: 5px;
    border-radius: 20px;
    border-width: 10px;
}
.subsegment{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 40vw;
    padding: 20px;
    border-radius: 10px;
    border-width: 10px;
}
.maintitle{
    color: black;
    margin-left: 100px;
    font-size: xx-large;
    font-family: 'aston script';
}
.supertitle{
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.paragraph{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
