.navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-grow: 1;
}
.navline{
    height: 2px;
    background-color: black;
}
.navitem{
    margin-left: 50px;
    margin-right: 50px;
    font-size: xx-large;
    text-decoration: none;
    color: rgb(188, 188, 188);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    display: flex;
    align-items: flex-end; 
}
.navdiv{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}